@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    --line-color: #e5e7eb;
}

html.dark {
    --line-color: rgba(255, 255, 255, 0.2);
}

.borderBlack {
    @apply border border-black/10;
}

.certifications-wall {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin: 50px 0;
}

.certification-card {
  width: 250px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

.certification-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.certification-image img {
  width: 100%;
  height: auto;
  max-width: 200px;
  margin-bottom: 15px;
}

.certification-card h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.certification-card p {
  font-size: 14px;
  margin-bottom: 10px;
}

.certification-card a {
  text-decoration: none;
  color: #0070f3;
  font-weight: bold;
}
